 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
        <suite name = "Parallel Testing Suite">
            <test name = "Parallel Tests" parallel = "methods" thread-count="10">
                <classes>
                    <class name = "Accounts.Accounts_Tests_Chrome_1" />
                </classes>
            </test>
        </suite>
